.Grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 200px;
    gap: 40px;
    clear: both;
}
.card{
    background-color: white;
}
.first{
    grid-column: span 2;
}
h1{
    font-size: 70px;
}
img{
    float: left;
    margin-right: 20px;
}

@media (max-width: 900px) {
    .card{
        grid-column: span 2;
    }
    
}